<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterationServlet</servlet-name>
  	<display-name>RegisterationServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.RegisterationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterationServlet1</servlet-name>
  	<display-name>RegisterationServlet1</display-name>
  	<description></description>
  	<servlet-class>com.facebookwebapp.controller.RegisterationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterationServlet2</servlet-name>
  	<display-name>RegisterationServlet2</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.RegisterationServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FriendList</servlet-name>
  	<display-name>FriendList</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.FriendList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterationServlet</servlet-name>
  	<url-pattern>/RegisterationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterationServlet1</servlet-name>
  	<url-pattern>/RegisterationServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterationServlet2</servlet-name>
  	<url-pattern>/RegisterationServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FriendList</servlet-name>
  	<url-pattern>/FriendList</url-pattern>
  </servlet-mapping>
</web-app>
